{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

<div class='bg-gray-800 text-white p-3 md:px-10 lg:px-20 xl:px-40 2xl:px-72'>
    <div class='m-6'>
        <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>About Me</p>
        <p class='text-justify'>
            &#128075; Hi,<br><br>

            My name is Franck Messou, and I am a highly motivated and experienced Machine Learning research student currently pursuing a Master's degree in Science and Engineering (AI) at HOSEI UNIVERSITY, Tokyo. I hold a Master’s in Information Systems and Software Engineering from the African Graduate School of ICT (ESATIC) and a Bachelor's in Applied Mathematics and Informatics from Nangui Abrogoua University.<br><br>

            I am passionate about leveraging AI to drive technological innovation in front-end, back-end, and AI applications. My approach to work is communicative, proactive, tenacious, and reliable, making me a valuable team player in any project.<br><br>

            Over the years, I have gained a wealth of experience through various roles, including internships and research positions. I have worked with JICA Sholar on a summer internship at Japan AI Consulting, developed Deep Learning models for energy forecasting, and contributed to the development of commercial utility applications at Casys Technologies.<br><br>

            In addition to my technical skills, I am proficient in programming languages such as Python, Java, Bash, C, and JavaScript. I have experience with development frameworks like Flask, FastAPI, NodeJS, PHP, and Flutter, as well as machine learning tools like PyTorch, TensorFlow, Numpy, Pandas, and Scikit-learn. My database skills include MySQL, MongoDB, and Oracle, and I am familiar with various software development environments and operating systems.<br><br>

            I am continuously seeking new opportunities to expand my knowledge and improve my abilities as a developer, in order to assist clients in achieving their project goals.
        </p>
        <div class='my-10'>
            <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>Skills</p>
            <div class='grid grid-cols-1 md:grid-cols-2 md:space-x-4 lg:space-x-10'>
                <div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Python</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="py bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 90%"></div>
                        </div>
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Java</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="java bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 80%"></div>
                        </div>
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Bash</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="bash bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 75%"></div>
                        </div>
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">PHP</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="php bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 70%"></div>
                        </div>
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">C</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="c bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 60%"></div>
                        </div>
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">JavaScript</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="js bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 50%"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Generative AI models</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="generative-ai bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 70%"></div>
                        </div>
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Flask</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="flask bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 90%"></div>
                        </div>
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">FastAPI</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="fastapi bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">NodeJS</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="nodejs bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 75%"></div>
                        </div>
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Flutter</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="flutter bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .progress-bar {
            animation: progress-bar-animation 1s normal forwards;
        }
        @keyframes progress-bar-animation {
            0%   {  width: 0%; }
            100% {  width: 100%; }
        }
        .py {
            animation: py-animation 3s normal forwards;
        }
        @keyframes py-animation {
            0%   {  width: 0%; }
            100% {  width: 90%; }
        }
        .java {
            animation: java-animation 3s normal forwards;
        }
        @keyframes java-animation {
            0%   {  width: 0%; }
            100% {  width: 80%; }
        }
        .bash {
            animation: bash-animation 3s normal forwards;
        }
        @keyframes bash-animation {
            0%   {  width: 0%; }
            100% {  width: 75%; }
        }
        .c {
            animation: c-animation 3s normal forwards;
        }
        @keyframes c-animation {
            0%   {  width: 0%; }
            100% {  width: 60%; }
        }
        .js {
            animation: js-animation 3s normal forwards;
        }
        @keyframes js-animation {
            0%   {  width: 0%; }
            100% {  width: 50%; }
        }
        .generative-ai {
            animation: generative-ai-animation 3s normal forwards;
        }
        @keyframes generative-ai-animation {
            0%   {  width: 0%; }
            100% {  width: 85%; }
        }
        .flask {
            animation: flask-animation 3s normal forwards;
        }
        @keyframes flask-animation {
            0%   {  width: 0%; }
            100% {  width: 95%; }
        }
        .fastapi {
            animation: fastapi-animation 3s normal forwards;
        }
        @keyframes fastapi-animation {
            0%   {  width: 0%; }
            100% {  width: 95%; }
        }
        .nodejs {
            animation: nodejs-animation 3s normal forwards;
        }
        @keyframes nodejs-animation {
            0%   {  width: 0%; }
            100% {  width: 75%; }
        }
        .php {
            animation: php-animation 3s normal forwards;
        }
        @keyframes php-animation {
            0%   {  width: 0%; }
            100% {  width: 70%; }
        }
        .flutter {
            animation: flutter-animation 3s normal forwards;
        }
        @keyframes flutter-animation {
            0%   {  width: 0%; }
            100% {  width: 99%; }
        }
    </style>
</div>

{% endblock %}
